@{
    ViewData["Title"] = "Information";
}

<h2 class="text-center">Information</h2>
<p class="text-center">The operation was successfully completed.</p>

<div class="d-flex justify-content-center">
    <a asp-action="AdminOptions" class="btn btn-success mx-2">Back to Admin Options</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mx-2">Back to Login Screen</a>
</div>