@{
    ViewData["Title"] = "Admin Panel";
}

<h2 class="text-center">Admin Panel</h2>
<ul class="list-group">
    <li class="list-group-item text-center">
        <a asp-action="List" class="btn btn-link">Car List</a>
    </li>
    <li class="list-group-item text-center">
        <a asp-action="Register" class="btn btn-link">Car Registration</a>
    </li>
</ul>